html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem; }

.article {
  background-color: #ECECEC;
  border: 1px solid #5D4E79;
  border-radius: 10px;
  margin: 10px auto; }
  .article p {
    font-size: 13px;
    font-size: 1.3rem; }
