extends /layout/_DefaultLayout

prepend StylesheetBlock
  link(rel="stylesheet", href="../css/custom-scroll.css")
block ContentBlock
  // javascript
  // ref http://gromo.github.io/jquery.scrollbar/demo/basic.html
  .scrollbar-chrome
    p.
      Traditionally scrollbars are permanently displayed whenever an area of a webpage is
      scrollable. By contrast, scrollbars in OSX Lion are hidden from sight, and revealed only
      when scrolling content. In this example, scrollbars are revealed when mouse is over content.
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
      scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
      Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
      hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
      pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
      sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
      ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
      nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
      viverra nisi, in interdum massa nibh nec erat.
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
      scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
      Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
      hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
      pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
      sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
      ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
      nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
      viverra nisi, in interdum massa nibh nec erat.
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
      scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
      Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
      hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
      pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
      sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
      ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
      nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
      viverra nisi, in interdum massa nibh nec erat.
prepend JavascriptBlock
  script(src="../js/custom-scroll.js")
