extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="../css/custom-scroll.css")
block ContentBlock

  | HELLO WORLD
  // javascript
  block JavascriptBlock
    script(src="../js/custom-scroll.js")
