extends /layout/_DefaultLayout
prepend StylesheetBlock
  // link(rel="stylesheet", href="css/canvas.css")
block ContentBlock
  #main
    img(src='/images/2017/11/character_pudding.png')
  style.
    #main {
      width: 500px;
      height: 500px;
      overflow: hidden;
    }
prepend JavascriptBlock
  script(src="js/04.js")
