extends /layout/_DefaultLayout
prepend StylesheetBlock
  // link(rel="stylesheet", href="css/canvas.css")
block ContentBlock
  #main
    img(src='/images/2017/11/character_pudding.png')
  style.
    html, body, .wrapper {
      height: 100%;
    }

    #main {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    img {
      display: block;
    }
prepend JavascriptBlock
  script(src="js/04.js")
