extends /layout/_DefaultLayout
prepend StylesheetBlock
  // link(rel="stylesheet", href="css/canvas.css")
block ContentBlock
  form(method='post' action='/' id="form")
    input(type='text' name='name' itemprop='dummy')
    input(type='file' name="image-input" id="img")
    button(type='submit' id='submit') submit

prepend JavascriptBlock
  script(src="js/19.js")
