extends /layout/_DefaultLayout
prepend StylesheetBlock
  // link(rel="stylesheet", href="css/canvas.css")
block ContentBlock
  input(type='file' name="image-input")
prepend JavascriptBlock
  script(src="js/19.js")
