h1 {
  color: #BB71C3;
}

$width: 800px;
$height: 600px;

@mixin box($width, $height) {
  div.cube{
      width: $width;
      height: $height;
      position: relative;
      margin: 0 auto;
      div{
          width: $width;
          height: $height;
          border: 1px solid #999;
          box-sizing: border-box;
          text-align: center;
          position: absolute;
          overflow: hidden;
          background-color: rgba(255,255,255,.7);
      }
      div.front{
          top: 0;
          left: 0;
          -webkit-transform: translateZ(100px);
      }
      div.back{
          height: 427px; width: 497px;
          bottom: 0;
          left: 100px;
          -webkit-transform: translateZ(-100px);
      }
      div.left{
          top: 0;
          left: $width/2;
          -webkit-transform:rotateY(90deg);
      }
      div.right{
          top: 0;
          right: $width/2;
          -webkit-transform:rotateY(-90deg);
      }
      div.top{
          top: $height/2;
          left: 0;
          -webkit-transform:rotateX(90deg);
      }
      div.bottom{
          bottom: $height/2;
          left: 0;
          -webkit-transform:rotateX(-90deg);
      }
  }
}

.stage{
  position: relative;
  top: 100px;
  -webkit-perspective: 500;
  @include box($width: 700px, $height: 500px);
}

.desc {
  position: absolute;
  bottom: 100px;
  @include box($width: 300px, $height: 110px);
}

.pair {
  position: absolute;
  bottom: 100px;
  @include box($width: 300px, $height: 110px);
}
