extends /layout/_DefaultLayout
block ContentBlock
  main.js-main(data-day="22")
  video.js-monitor
  canvas.js-monitor-canvas.monitor-canavs
prepend JavascriptBlock
  script(id="fragment_shader" type="x-shader/x-fragment")
    include partials/box.frag
  script(script id="vertex_shader" type="x-shader/x-vertex")
    include partials/box.vert

  script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r76/three.min.js")
  script(src="//rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js")
  script(src="js/lib/VRControls.js")
  script(src="js/lib/VREffect.js")
  script(src="js/lib/webvr-polyfill.js")
  script(src="js/lib/webvr-manager.js")
  script(src="js/shader.js")
