extends /layout/_DefaultLayout
block ContentBlock
  h1 Carousel
  .carousel
    ul.carousel__wrapper
      li.carousel__item.ico_01
      li.carousel__item.ico_02
      li.carousel__item.ico_03
      li.carousel__item.ico_04
      li.carousel__item.ico_05
      li.carousel__item.ico_06
      li.carousel__item.ico_07
      li.carousel__item.ico_08
      li.carousel__item.ico_09
      li.carousel__item.ico_10

