doctype html
html
  head
    title Flappy Bird
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/flappy-bird.css")
  body
    button#start Start
    canvas.js-canvas
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.4/pixi.min.js")
    script(src="js/flappy-bird.js")
