extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="css/02.css")
block ContentBlock
  .slider
    ul.items
      li.item
        p 1
      li.item
        p 2
      li.item
        p 3
      li.item
        p 4
      li.item
        p 5
prepend JavascriptBlock
  script(src="js/lib/hammer.min.js")
  script(src="js/02.js")
