extends /layout/_DefaultLayout
prepend StylesheetBlock
  style(type='text/css').
    .box {
      width:  500px;
      height: 500px;
      overflow: scroll;
      background-color: black;
    }
block ContentBlock
  .box
    img(src='http://imgcc.naver.jp/kaze/mission/USER/2/6/218936/3160/1920x1080x98fad66ed9dba5a970f66a.jpg')
prepend JavascriptBlock
  script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
  script(src="js/lib/hammer.min.js")
  script(src="js/15.js")
