extends /layout/_DefaultLayout
prepend StylesheetBlock
  // link(rel="stylesheet", href="css/canvas.css")
  style(type='text/css').
block ContentBlock
prepend JavascriptBlock
  script(src="js/lib/phaser.min.js")
  script(src="js/18.js")
