extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="../../css/2017/02/canvas.css")
block ContentBlock
  h1 CreateJS (click event)
  canvas.canvas#canvas
prepend JavascriptBlock
  script(src="https://code.createjs.com/createjs-2015.11.26.min.js")
  script(src="../../js/2017/02/canvas.js")
