extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="../../css/2017/02/iitomo.css")
block ContentBlock
  img(id="img" src="/images/2017/02/a0002_010779.jpg")
  canvas#canvas(style="width: 600px; height: 320px;" width=1200 height=640)
  input.js-image-input(type="file")
  img.js-preview
  // img.js-sample-image(src="/images/2017/02/sample.jpg")
prepend JavascriptBlock
  script(src="../../js/lib/tracking-min.js")
  script(src="../../js/lib/face-min.js")
  script(src="../../js/2017/02/iitomo.js")
