extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="../../css/2017/02/trick-art.css")
block ContentBlock
  h2 Trick

  .stage
    .cube
      .front
      .back.
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
      .left.
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
      .right.
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
      .top.
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
      .bottom.
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>

    // .desc
    //   .cube
    //     .front
    //     .back.
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //     .left.
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //     .right.
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
    //     .top.
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //     .bottom.
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
    //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
