extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="../../css/2017/02/trick-art.css")
block ContentBlock
  h2 Trick

  .stage
    // base
    .cube
      .front
      .back.
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
      .left.
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
      .right.
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
      .top.
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
      .bottom.
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf
        goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflajjsldjfaskdlf








  // .stage
  //   .cube
  //     .front
  //     .back.
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //     .left.
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //     .right.
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //     .top.
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //     .bottom.
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       goeheogheohgoqwejowjflkwjflkjdflaj<br>

  //   .desc
  //     .cube
  //       .front.
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       .back.
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       .left.
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       .right.
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflajgoeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       .top.
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //       .bottom.
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
  //         goeheogheohgoqwejowjflkwjflkjdflaj<br>
