extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="../../css/2017/02/trick-art.css")
block ContentBlock
  h2 Trick

  .stage
    .cube
      .front
      .back.
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
      .left.
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
      .right.
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
      .top.
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
      .bottom.
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
        goeheogheohgoqwejowjflkwjflkjdflaj<br>
