extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="../../css/2017/02/trick-art.css")
block ContentBlock
  h2 Trick

  .stage
    // base
    .cube
      .front
      .back.
       
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
      .left.
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
      .right.
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
      .top.
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
      .bottom.
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日

    .foot-1
      .cube
        .front
        .back.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .left.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .right.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .top.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .bottom.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日

    .foot-2
      .cube
        .front.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .back.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .left.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .right.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .top.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .bottom.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日

    .desc
      .cube
        .front.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .back.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .left.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .right.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .top.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
        .bottom.
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日
          住みなれた 我が家を雲と 青空の下しばらく 寒さと雨に 風にと 打たれこの街で 一番素敵で 暮らしたいリフォームしようよ私 心も 夢も花の香りを 少しだけ入れて街の香りも 少しだけ入れて優しく育った 樹木香りも入れて 幸せと感じたら今日が旅立つその日いつまでも 近所とあいつの 家族呼んでお酒を 片手に 夢と未来を 語りこの街で 一番素敵で 過ごしたいリフォームしようよ私 笑顔も すべて庭に出てみて 星を数えては月の明かりに 君を抱きしめて優しく育てと 子供寝顔に夢を青空の朝が来りゃ今日が旅立つその日


