extends /layout/_DefaultLayout
prepend StylesheetBlock
  // link(rel="stylesheet", href="css/canvas.css")
block ContentBlock
  canvas.canvas
  p(id="v0")
  p(id="v1")
  p(id="v2")
  p(id="v3")
  p(id="v4")
  p(id="v5")
  p(id="v6")
prepend JavascriptBlock
  script(src="js/23.js")
