.main
  display flex
  flex-direction column
  
.items
  &:not(:root)
    display flex
    justify-content space-between
    margin 0 auto
    padding 0
    
  & &__item
    list-style none
    width 64px
    height 64px
    margin 0px 16px
    position relative
    
  & .items__item[data-item="rock"]
    background url(http://2.bp.blogspot.com/-VhlO-Yfjy_E/Uab3z3RNJQI/AAAAAAAAUVg/fX8VnSVDlWs/s800/janken_gu.png) no-repeat center
    background-size contain
    
  & .items__item[data-item="scissors"]
    background url(http://4.bp.blogspot.com/-__yEIXe5SxU/Uab3zO7BB2I/AAAAAAAAUVI/MYg6TVeiv-Y/s800/janken_choki.png) no-repeat center
    background-size contain
    
  & .items__item[data-item="paper"]
    background url(http://3.bp.blogspot.com/-qZtyoue9xKs/Uab30IG0Q5I/AAAAAAAAUVk/qnH8a2OgrvI/s800/janken_pa.png) no-repeat center
    background-size contain
    
.submit
  appearance none
  background-color black
  border none
  color white
  border-radius 50%
  width 64px
  height 64px
  margin 16px auto
  display block

for item in 'rock' 'scissors' 'paper'
  .items[data-selected-item=\"{item}\"]
  
    & .items__item[data-item=\"{item}\"]
  
      &:after
        content ''
        display block
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-color rgba(255, 255, 255, .5)

.result

  &&[data-display="none"]
    display none

  &&[data-display="block"]
    display block

.result__bg

  &::before
    content ''
    display block
    background-color rgba(0, 0, 0, .5)
    position fixed
    top 0
    left 0
    right 0
    bottom 0

.result__wrapper
  background-color white
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  min-width 40%
  min-height 300px

.items__result
  text-align center

.result__title
  text-align center
  
