.items

  &:not(:root)
    display flex

  & &__item
    list-style none
    background-image url('/2018/01/img/slot.png')
    background-size contain
    background-repeat repeat-y
    height 910px * 2
