extends /layout/_DefaultLayout
prepend JavascriptBlock
block ContentBlock
  iframe(src="https://docs.google.com/presentation/d/1irmCHghmZ4yzaldOWXfELMyZTb7LiHaM9FceHspjnx8/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
  .bookmarklet
    a(href='javascript:void function(){document.body.appendChild(document.createElement("script")).src="https://pocke777.github.io/mock/2017/05/js/bookmarkSpeech.js"}();') BookmarkLet
