extends /layout/_DefaultLayout
prepend JavascriptBlock
block ContentBlock
  a(href='javascript:void function(){document.body.appendChild(document.createElement("script")).src="https://pocke777.github.io/mock/2017/05/js/bookmarkSpeech.js"}();') Bookmark
