// @function px($size) {
//   @return #{$size / 100}rem;
// }

html {
  font-size: 100px;
}

body {
  font-size: 0.16rem;
}

.article {
  background-color: #ECECEC;
  border: 1px solid #5D4E79;
  border-radius: 10px;
  margin: 10px auto;
  width: 80%;
  p {
    // width: 1024px -> font-siz: 16pxを基準に
    font-size: 0.14rem;
  }
}

