extends /layout/_DefaultLayout
prepend StylesheetBlock
  // link(rel="stylesheet", href="css/canvas.css")
block ContentBlock
  h1 Fabric
  canvas.js-canvas

prepend JavascriptBlock
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.6/fabric.min.js')
  script(src='js/lib/customiseControls.min.js')
  script(src="js/fabric.js")
