extends /layout/_DefaultLayout
prepend StylesheetBlock
  link(rel="stylesheet", href="css/menu.css")
block ContentBlock
  .menu.js-menu
    .menu__items
      .menu__items-inner
        .menu__item
          a(href='#') MenuItem
        .menu__item
          a(href='#') MenuItem
        .menu__item
          a(href='#') MenuItem
    .menu__btn.js-menu__btn
      .menu__btn-inner
        span
prepend JavascriptBlock
  script(src="js/menu.js")
